<div class="container-fluid">

    <h1>
        Add bar
    </h1>
    <form ng-submit="addBar(barData)">
        <input type="text" name="name" placeholder="Bar name" ng-model="barData.name">
        <input type="text" ng-autocomplete ng-model="autocomplete" ng-model="barData.locationName" name="location" placeholder="Location">
        <input type="text" name="beerBrand" placeholder="Beer brand" ng-model="barData.brand">
        <div class="brand-input-row">
            <input type="number" name="price" placeholder="Price" ng-model="barData.price">
            Before <input type="time" name="before" ng-model="barData.time">
        </div>
        <!--<input type="submit" value="Submit">-->
        <div class="modal-footer">
            <a role="button" class="btn" href="#/map">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>



</div>