<div class="container-fluid">

    <h1>
        Add bar
    </h1>
    <form>
        <input type="text" name="name" placeholder="Bar name">
        <input type="text" ng-autocomplete ng-model="autocomplete" name="location" placeholder="Location">
        <input type="text" name="beerBrand" placeholder="Beer brand">
        <div class="brand-input-row">
            <input type="number" name="price" placeholder="Price" >
            Before <input type="time" name="before" >
        </div>
        <!--<input type="submit" value="Submit">-->
    </form>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>

</div>